{% extends 'base.html.twig' %}

{% block body %}
        <body onload="document.getElementById('search_input').focus()">

    <div class="body-content">
        <div class="btn btn-danger">
    MULTI CHG!!!!!!

    </div>
        <div class="row">
            {% if (error) %}
                {#                {% for field in error%}#}
                <p style="color:red">
                    {{ error}}
                </p>

                {#                {% endfor %}#}
            {% endif %}

        </div>
            <div class="row col-lg-offset-2">
            Променяш {{ map.tileCell }}

        </div>
        <div class="row">
            {#            {% if (tile) %}#}
            {% for field in tile%}
                <div class="col-md-12">

                    <p>
                        В клетка: {{ map.tileCell }} беше записан {{ field.articleNum }} 
                        {{ field.articleName }}
                    </p>

                   



                    <hr>


                    </article>
                </div>

            {% endfor %}
            {#            {% endif %}#}
        </div>
        <form class="form-horizontal" action="{{ path('change-article-multi') }}" method="POST">
            {% if evaluation.category.name is defined %}
                {{evaluation.category.name}}
            {% endif %}
            <table>
                <tr>
                    <th>  </th>
                    <td>
                        <input
                               type="hidden" name="map[id]" value="{{ map.id}}"/></td>
                </tr>
                <tr>
                    <th>  </th>
                    <td>
                        <input id="search_input" 
                               type="hidden" name="map[tileCell]" value="{{ map.tileCell }}"/></td>
                </tr>

                <tr>
                    <th  style="color:blue">ВЪВЕДИ АРТИКУЛ</th>
                    <td >

                        <input id="search_input" 
                               type="text" name="map[sapNum]" autofocus/></td>
                </tr>

                <tr>

                    <td>
                        <button type="submit" class="btn btn-primary">НАПРЕД</button>
                    </td>
                </tr>
            </table>
            {{  form_row(form._token) }}  


        </form>

        <div class="container body-content">
            <div class="row">

            </div>
            

        </div>


    {% endblock %}
