{% extends 'base.html.twig' %}

{% block body %}
        <div class="body-content">

    {#    <button class="btn btn-default btn-xs" onclick="document.location = {{ path('create_list') }}" type="button">Направи списък</button>#}
   
    <hr>
    <div class="container body-container">
            <div class="">
                {% for field in dailys %}
                <p>
{#                    {{ list.nameList|date("d/m/Y - H:i:s") }}#}
                    <a href="{{ path('tile' , {id: field.article.id}) }}" title='Натисни за подробности.'>{{ field.inputDate|date("H:i") }}  -  {{field.article.articleNum}} {{field.article.articleName}} ({{ field.deviceZone }})</a>

                </p>     

                <hr>
                {% endfor %}
            </div>


            </div>


    
    </div>


    {{  form_row(form._token) }}  


{% endblock %}
