{% extends 'base.html.twig' %}

{% block body %}
    <div class="body-content">
        <p>
            <button onclick="document.location = '{{ path("email-delete") }}'" type="button">Изтрий email</button>
        </p>
        {% if error  %}
            {% for err in error %}

                <div style="color: red">
                    {{  err.message}}
                </div>
            {% endfor %}

        {% endif %}
        <form class="form-horizontal" action="{{ path('email-add') }}" method="POST">


            {% if evaluation.category.name is defined %}
                {{evaluation.category.name}}
            {% endif %}
            <lable>
                Въвеждане на нов email:

                <input id="search_input"  type="text" name="address" autofocus/></td>
            </lable>
            <button type="submit" class="btn btn-primary btn-xs">Запиши</button>
        </form>
        <hr>
        <div class="container body-container">

        </div>



    </div>


    {{  form_row(form._token) }}  


{% endblock %}
